.qrScanner {
    margin-top: 50px;
    display: grid;
    place-content: center;
}

.qrScanner video {
    width: 300px;
}

.showSuccess {
    background-color: white;
    height: 100vh;
    padding-top: 20vh;
}

