.qrScanner {
    margin-top: 50px;
    display: grid;
    place-content: center;
}

.qrScanner video {
    width: 300px;
}

.showSuccess {
    background-color: white;
    height: 100vh;
    padding-top: 20vh;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

